/* Colors */
$white: #FFF;
$black: #000;
$pageBackgroundColor: #E5D5AD;
$darkBrown: #463628;
$maroon: #67241E;
$darkMaroon: #38110F;
$selectBackground: #C0B28E;
$lightBorder: #E2D796;
$textColor: #5D442B;
$yellow: #fcd144;
$purple: #392d49;


/* Fonts */
$titleFont: Arial, Helvetica, sans-serif;
$normalFont: "Times New Roman", Times, serif;

/* Breakpoints value */
$XS: 256px;
$SM: 512px;
$MD: 768px;
$LG: 1024px;
$XL: 1280px;

/* Mixins */
@mixin navbarStyle($gap) {
  height: 70px;
  background-color: $darkBrown;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin anchorStyle($fontSize) {
  color: $white;
  font-size: $fontSize;
  text-decoration: none;
  font-family: $titleFont;
  font-weight: bold;
}

@mixin imageStyle($size) {
  width: $size;
  height: $size;
}

@mixin deckCardTextStyle($color, $fontSize) {
  font-size: $fontSize;
  white-space: nowrap;
  color: $color;
  font-weight: bold;
  height: 44px;
  z-index: 1;
  position: absolute;
  top: 0px;
  text-shadow: #000 2px 0 0, #000 1.75517px 0.95885px 0, #000 1.0806px 1.68294px 0, #000 0.14147px 1.99499px 0, #000 -0.83229px 1.81859px 0, #000 -1.60229px 1.19694px 0, #000 -1.97998px 0.28224px 0, #000 -1.87291px -0.70157px 0, #000 -1.30729px -1.5136px 0, #000 -0.42159px -1.95506px 0, #000 0.56732px -1.91785px 0, #000 1.41734px -1.41108px 0, #000 1.92034px -0.55883px 0;
}