.cardPackContainer {
  width: 74px;
  height: 105px;
  position: sticky;
  top: 30px;
  margin: 10px 20px 0px 0px;
  cursor: pointer;
}

.cardPack {
  width: 74px;
  height: 105px;
  background-image: url(../assets/deckHamburger/cardpack.png);
  background-repeat: no-repeat;
}

.cardPackIcon {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 6px;
  left: 1px;
  right: 0px;
  margin: 0px auto;
}

.deathknightIcon {
  background-image: url(../assets/deckHamburger/deathknightIcon.png);
}

.demonhunterIcon {
  background-image: url(../assets/deckHamburger/demonhunterIcon.png);
}

.druidIcon {
  background-image: url(../assets/deckHamburger/druidIcon.png);
}

.hunterIcon {
  background-image: url(../assets/deckHamburger/hunterIcon.png);
}

.mageIcon {
  background-image: url(../assets/deckHamburger/mageIcon.png);
}

.paladinIcon {
  background-image: url(../assets/deckHamburger/paladinIcon.png);
}

.priestIcon {
  background-image: url(../assets/deckHamburger/priestIcon.png);
}

.rogueIcon {
  background-image: url(../assets/deckHamburger/rogueIcon.png);
}

.shamanIcon {
  background-image: url(../assets/deckHamburger/shamanIcon.png);
}

.warlockIcon {
  background-image: url(../assets/deckHamburger/warlockIcon.png);
}

.warriorIcon {
  background-image: url(../assets/deckHamburger/warriorIcon.png);
}