@import '../Variables/Variables.scss';

.filters {
  height: auto;
  background-color: $maroon;
  border: 2px solid rgba(50, 50, 93, 0.25);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  position: relative;
  z-index: 1;
}

.mainFilters {
  height: 100px;
  display: flex;
  background-color: $maroon;
  padding: 0px 20px;
}

.inputFilters {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  select {
    max-width: 200px;
    height: 40%;
    border-radius: 50px;
    padding-left: 5px;
    background-color: $selectBackground;
    border: 4px solid $lightBorder;
    color: $textColor;
    font-family: $normalFont;
    font-weight: bold;
    font-size: 18px;
  }

  select.hidden {
    display: none;
  }

  input {
    width: 100%;
    max-width: 200px;
    height: 30%;
    border-radius: 50px;
    padding-left: 15px;
    background-color: $darkMaroon;
    border: 4px solid $lightBorder;
    color: $white;
    font-family: $normalFont;
    font-weight: bold;
    font-size: 14px;
  }

  select:focus,
  input:focus {
    outline: none;
  }
}

.subFiltersButton {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    border-radius: 50px;
    background-color: $selectBackground;
    border: 4px solid $lightBorder;
    color: $textColor;
    font-family: $normalFont;
    font-weight: bold;
    font-size: 15px;
    padding: 6px;
    cursor: pointer;
  }
}

@media (min-width: $SM) {
  .inputFilters {

    select,
    input {
      font-size: 15px;
    }
  }

  .subFiltersButton {
    button {
      font-size: 15px;
    }
  }
}

@media (min-width: $MD) {
  .inputFilters {
    width: 85%;
    gap: 15px;

    select.hidden {
      display: block;
    }

    select,
    input {
      font-size: 18px;
    }
  }

  .subFiltersButton {
    width: 15%;

    button {
      font-size: 16px;
    }
  }
}

@media (min-width: $LG) {
  .subFiltersButton {
    button {
      font-size: 18px;
    }
  }
}