@import '../Variables/Variables.scss';

.noCards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 0px;

  h1 {
    color: $darkBrown;
    margin: 0px 0px;
    font-family: $titleFont;
  }

  p {
    font-size: 22px;
    color: $darkBrown;
    margin: 5px 0px;
  }
}