@import '../Variables/Variables.scss';

.runesContainer {
  background: url(../assets/deckListMiddle.png) center center / 100% repeat-y;
  background-color: $purple;
  padding: 0px 40px;
}

.runes {
  width: 90%;
  position: relative;
  height: 80px;
  background: url(../assets/deathknight/runeTray.png) center top / contain no-repeat;
  margin-top: -6px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 0px 15px;
}

.rune {
  width: 60px;
  height: 60px;
  background: url(../assets/deathknight/emptyRune.png) center center / contain no-repeat;
}

.frost {
  background: url(../assets/deathknight/frost.png) center center / contain no-repeat;
}

.blood {
  background: url(../assets/deathknight/blood.png) center center / contain no-repeat;
}

.unholy {
  background: url(../assets/deathknight/unholy.png) center center / contain no-repeat;
}